@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ir_input {
    @apply flex-1 border-gray-200 w-full p-3 bg-gray-50 rounded-md;
}

.ir_button {
    @apply bg-white cursor-pointer border border-gray-200 text-gray-800 hover:text-white font-semibold rounded-md px-4 py-2 hover:bg-primary;
}

.ir_input.attached{
    @apply rounded-r-none;
}
.ir_input.warning{
    @apply border border-primary;
}


.ir_button.attached{
    @apply border border-gray-200 text-gray-800 hover:text-white font-semibold rounded-md rounded-l-none px-4 py-2 hover:bg-primary border-l-0; 
}

.content {
    @apply mx-auto leading-relaxed tracking-wide;
}

.content blockquote {
    @apply p-4 bg-gray-100 border-b-8 border-gray-400 text-gray-500 mb-4;
}

.content a {
    @apply text-primary;
}

.content p {
    @apply py-2;
}
.content.has-columns{
    column-width: 22em;
    column-count:2;
    column-rule: 1px dotted #ddd;
  }

/* @layer utilities {
    @variants responsive {
        .columns{
            max-width: 150ch;
            column-width: 65ch;
        }
    }
  } */