$primary: #da2525;
$modal-content-width: calc(100% - 40px);

@import "../../../node_modules/bulma/bulma";
body{
    padding-top:2em;
}
p{
    font-size: 1.1rem;
    line-height:1.8;
}
.container{
    padding:2em;
}
.read{
    opacity: 0.5;
}

#offCanvas{
    position: fixed;
    background-color: white;
    z-index: 5;
    left: 0;
    height: 100%;
    border: 1px solid silver;
    width: 100%;
    top: 0;
    padding: 3em;
    transform: translate3d(calc(100% + 10px) , 0 , 0);
    transition: 1s easein;
    &.active{
        transform:translate3d(0,0,0);
    }
}
